<div class='banner'><%= render 'shared/banner' %></div>
<div class="container">
  <div class='header'>
    <h1>All Cocktails</h1>
  </div>
  <div class="cards">
    <% Cocktail.all.each do |cocktail| %>
      <div class="card">
        <h2><%= cocktail.name %></h2>
        <h4><span class="button"><%= link_to "Show", cocktail_path(cocktail)%></span> | <span class='button'><%= link_to "Edit", edit_cocktail_path(cocktail) %></span> | <span class='button'><%= link_to 'Delete', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></span></h4>
        <p><%= cocktail.description%></p>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <h4><span class="button"><%= link_to "Add New Cocktail", new_cocktail_path%></span></h4>
  </div>
</div>
